input[type=checkbox].checkbox{
	position:absolute; 
	z-index:-1000; 
	left:-1000px; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height:1px; 
	width:1px; 
	margin:-1px; 
	padding:0; 
	border:0;
}

input[type=checkbox].checkbox + label.checkbox_lbl {
	padding-left:27px;
	height:22px; 
	display:inline-block;
	line-height:22px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:22px;
	vertical-align:middle;
	cursor:pointer;
}

input[type=checkbox].checkbox:checked + label.checkbox_lbl {
	background-position: 0 -22px;
}

label.checkbox_lbl {
	box-shadow: inset 0px 2px 0 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}